# Auto detect text files and perform LF normalization
* text=auto

# Go files
*.go text eol=lf
go.mod text eol=lf
go.sum text eol=lf

# Documentation
*.md text eol=lf
*.txt text eol=lf

# Scripts
*.sh text eol=lf
*.bat text eol=crlf

# Ignore binary files
*.exe
*.out
*.bin

main.exe